!!! 5
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}/
    = display_meta_tags :site => 'Инна Глушкова. Фотограф'
    = csrf_meta_tags

    = javascript_include_tag "application"
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    = vkontakte_init

  %body
    .navbar.navbar-top
      .navbar-inner
        .container
          = link_to "Инна Глушкова. Фотограф", root_path, :class => :brand

    .container

      .content
        .row
          .span9
            = yield
          .span1 &nbsp;
          .span3.sidebar
            %ul
              - Album.all.each do |album|
                %li{ :class => ("current" if album == @album) }
                  = link_to album, [album, :photos]

            %h2 Контакты
            %ul.unstyled
              %li
                %strong Телефон:
                (095)&nbsp;303&nbsp;63&nbsp;21
              %li
                %strong E-mail:
                = link_to "inna@glushkova.me", "mailto:inna@glushkova.me"
              %li
                %strong Skype:
                kuakugawa
              %li
                %strong Фотошкола:
                = link_to "vk.com/fotomeridian", "https://vk.com/fotomeridian", target: "_blank"


      %footer
        %p &copy; Глушкова Инна 2012

      = render_analytics
